@model CagroLab.ViewModel.PackageListViewModel

@{
    ViewData["Title"] = "Packages";
}

<h2>Packages</h2>

<p>
    <a asp-action="Create" asp-route-accountId="@Model.Account_Id" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Account
            </th>
            <th>
                Lab
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Packages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Package_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Package_Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Full_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lab.Lab_Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
